{% set monit = salt['grains.filter_by']({
    'default': {
        'port': salt['pillar.get']('monit:http_access:port'),
    },
    'ddll.co': {
        'port': salt['pillar.get']('monit:http_access:port_alt'),
    },
}, merge=salt['pillar.get']('monit:lookup'), grain='id', default='default') %}
